
body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  padding: 3% 15% 5%;
}

#title-bar {
  padding-left: 0px;
  padding-right: 0px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* navigation bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

/* button */

.download-button {
  margin: 5% 3% 5% 0%;
}

/* title image */

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* features */

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.48rem;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}


/* Call to action section */

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}


/* Footer section */

#footer {
  padding: 7% 15%;
  text-align: center;
  font-size: 1.2rem;
}

.social-icon {
  margin: 20px 10px;
}


/* media query */

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: auto;
  }
}

